/*
 * Cameron Spickert
 * May 2011
 */
body {
  margin: 0;
  padding: 0;
  font: normal 13px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  line-height: 18px;
  color: #222; }
  body a {
    text-decoration: none;
    color: #23c; }
  body li {
    margin-top: 7px;
    margin-bottom: 7px; }
  body h1 {
    font-size: 2.5em;
    line-height: 1.1em; }
  body h2 {
    font-size: 22px;
    line-height: 24px; }

#site {
  overflow: hidden;
  *zoom: 1;
  width: 926px;
  margin: 0 auto; }

#sidebar {
  position: fixed;
  float: left;
  width: 175px;
  padding: 0 40px; }
  #sidebar footer {
    color: #888; }

#content {
  float: left;
  width: 630px;
  margin-left: 255px;
  padding: 2.5em 20px 2em; }

article.post {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  margin-bottom: 2em; }
  article.post p {
    margin: 0 0 1em; }
  article.post p:last-child {
    margin: 0; }
  article.post header {
    margin-bottom: 1em; }
    article.post header h2 {
      margin: 0 0 0.2em; }
    article.post header time {
      color: #666; }
  article.post .content {
    float: left;
    margin-bottom: 1em; }
  article.post footer {
    width: 100%;
    float: left;
    clear: both; }

article.place h2 {
  text-indent: 20px;
  background: left no-repeat url("/media/icons/map-marker.png"); }
article.place .info {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  width: 100%;
  margin-bottom: 1em; }
  article.place .info .map {
    float: left;
    width: 150px;
    height: 100px;
    margin-right: 1em;
    border-radius: 3px; }
  article.place .info .details {
    overflow: hidden;
    *zoom: 1;
    position: absolute;
    bottom: -4px;
    left: 162px; }
  article.place .info .name, article.place .info .address {
    width: 100%;
    display: block;
    float: left;
    clear: right; }
  article.place .info .name {
    font-weight: bold; }
  article.place .info .address {
    font-size: 0.9em;
    color: #555; }

#disqus_thread {
  border-radius: 3px;
  border: dotted 1px #aaa;
  padding: 0.25em 2em; }
