/*
 * Cameron Spickert
 * May 2011
 */
body {
  margin: 0;
  padding: 0;
  border-top: solid 2px #23c;
  font: normal 13px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  line-height: 18px;
  color: #222; }
  body a {
    text-decoration: none;
    color: #23c; }
  body li {
    margin-top: 7px;
    margin-bottom: 7px; }
  body h1 {
    font-size: 2.5em;
    line-height: 1.1em; }

#site {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1; }

#sidebar {
  position: fixed;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
  padding-left: 40px; }
  * html #sidebar {
    overflow-x: hidden; }
  #sidebar footer {
    color: #888; }

#content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
  display: inline;
  float: left;
  position: relative;
  margin: 0 -240px 1.5em 240px;
  padding-left: 40px;
  padding-right: 160px;
  padding-top: 1.4em;
  border-left: dotted 1px #aaa; }
  * html #content {
    overflow-x: hidden; }

article.post {
  overflow: hidden;
  *zoom: 1; }
  article.post header h2 {
    margin-bottom: 0.4em; }
  article.post header time {
    color: #666; }
  article.post .place-info {
    width: 150px;
    float: left;
    margin-right: 1.3em;
    margin-top: 4px;
    margin-bottom: 4px; }
    article.post .place-info .map, article.post .place-info .name, article.post .place-info .address {
      display: block; }
    article.post .place-info .map {
      border-radius: 6px;
      margin-bottom: 10px; }
    article.post .place-info .name, article.post .place-info .address {
      padding: 0 0.5em; }
    article.post .place-info .name {
      font-weight: bold; }
    article.post .place-info .address {
      font-size: 0.9em;
      color: #555; }
