#!/usr/bin/env ruby

# ---- Compilation ----

compile 'media/sass/_*/' do
  nil
end

compile 'media/sass/*/' do
  filter :sass, :syntax => :scss
end

compile 'media/*/' do
  nil
end

compile 'articles/*/' do
  filter :rdiscount
  layout 'post'
  layout 'default'
end

compile '*' do
  filter :erb
  filter :haml, :attr_wrapper => '"'
  layout 'default'
end

# ---- Routing ----

route 'media/sass/_*/' do
  nil
end

route 'media/sass/*/' do
  item.identifier.gsub(%r{^/media/sass/}, "/media/css/").chop + ".css"
end

route 'media/*/' do
  item.identifier.chop + '.' + item[:extension]
end

route '/articles/*/' do
  item.identifier.gsub(%r{^/articles/}, "/") + "index.html"
end

route '*' do
  item.identifier + 'index.html'
end

# ---- Layout ----

layout '*', :haml, :attr_wrapper => '"'
