#!/usr/bin/env ruby

# ---- Preprocessing ----

preprocess do
  def generate_tag_indexes
    all_tags = items.map { |i| i[:tags] }.flatten.compact.uniq
    all_tags.each do |tag|
      tag_index = Nanoc3::Item.new("", { :title => "Tagged: #{tag}", :tag => tag }, "/tags/#{tag}")
      tag_index.site = site
      site.items << tag_index
    end
  end
  generate_tag_indexes
end

# ---- Compilation ----

compile '/media/sass/_*/' do
  nil
end

require 'compass'
compile '/media/sass/*/' do
  filter :sass, :syntax => :scss, :load_paths => Compass.sass_engine_options[:load_paths]
end

compile '/media/*/' do
  nil
end

compile '/CNAME/' do
  nil
end

compile '/articles/*/' do
  filter :rdiscount
  layout 'post'
  layout 'post_comments'
  layout 'default'
end

compile '/tags/*/' do
  layout 'tag'
  layout 'default'
end

compile '/feed/' do
  filter :erb
end

compile '*' do
  filter :haml, :attr_wrapper => '"'
  layout 'default'
end

# ---- Routing ----

route '/media/sass/_*/' do
  nil
end

route '/CNAME/' do
  '/CNAME'
end

route '/media/sass/*/' do
  item.identifier.gsub(%r{^/media/sass/}, "/media/css/").chop + ".css"
end

route '/media/*/' do
  item.identifier.chop + '.' + item[:extension]
end

route '/articles/*/' do
  item.identifier.gsub(%r{^/articles/}, "/") + "index.html"
end

route '/feed/' do
  '/feed.xml'
end

route '*' do
  item.identifier + 'index.html'
end

# ---- Layout ----

layout '*', :haml, :attr_wrapper => '"'
