--- 
title: Home
id: index
kind: index
---

%section{:id => "about"}
  :markdown
    I'm an independent software developer living and working in Brooklyn, NY.

%section{:id => "posts"}
  %h2 Blog Posts
  %ol
    - sorted_articles.each do |post|
      %li
        %time{:datetime => post[:timestamp].to_s, :pubdate => true}<
          = post[:timestamp].strftime("%e %B %Y")
        %a{:href => rel_url_for(post)}= title_of(post)
