!!!5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "generator", :content => "nanoc 3.1.7"}
    - if item[:kind] == 'index'
      %link{:rel => "alternate", :type => "application/rss+xml", :title => "RSS", :href => "/feed.xml"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/media/css/style.css", :media => "screen"}
    %title= "Cameron Spickert - #{item[:title] or 'Home'}"
  %body
    #site
      #sidebar
        %header
          :markdown
            # [Cameron Spickert](/)
        %section{:id => "about"}
          :markdown
            **I'm an independent software developer living and working in Brooklyn, NY.**
            
            You can find me on [Facebook][], [Twitter][], [LinkedIn][] and [GitHub][].
          
            I built this site using [nanoc][], [haml][], [sass][] and [markdown][] ([source][]).
          
            [Facebook]: http://facebook.com/cspickert
            [Twitter]: https://twitter.com/#!/cameronspickert
            [LinkedIn]: http://www.linkedin.com/in/cameronspickert
            [GitHub]: https://github.com/cspicker
            [nanoc]: http://nanoc.stoneship.org
            [haml]: http://haml-lang.com
            [sass]: http://sass-lang.com
            [markdown]: http://daringfireball.net/projects/markdown/
            [source]: https://github.com/cspicker/cspicker.github.com
        %footer
          :markdown
            © 2011 Cameron Spickert.
      %div{:id => "content"}
        = content
