!!!5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "generator", :content => "nanoc 3.1.7"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/media/css/style.css", :media => "screen"}
    %title= "Cameron Spickert - #{item[:title] or 'Home'}"
  %body
    %div{:id => "site"}
      %div{:id => "sidebar"}
        %header
          :markdown
            # [Cameron Spickert](/)
        %section{:id => "about"}
          :markdown
            **I'm an independent software developer living and working in Brooklyn, NY.**
        %footer
          :markdown
             I built this site using [nanoc][], [haml][], [sass][] and [markdown](http://daringfireball.net/projects/markdown/).
             
             © 2011 Cameron Spickert.
            
            [nanoc]: http://nanoc.stoneship.org
            [haml]: http://haml-lang.com
            [sass]: http://sass-lang.com
      %div{:id => "content"}
        = content
