%article.post
  %header
    %h1= title_of(item)
    - date = item[:timestamp]
    %div.published
      Published on
      %time{:datetime => date.to_s, :pubdate => true}<
        = date.strftime("%A, %b %e, %Y")
  %section.content
    = content
  %footer
