/*
 * Cameron Spickert
 * May 2011
 */

@import 'reset';

a {
	text-decoration: none;
	color: #0033ff;
}

a:hover {
	color: #0000cc;
}

time {
	color: #777;
}

#site {
	width: 640px;
	margin: 20px auto;
	font-size: 1.1em;
}

#site > header {
	h1 {
		margin: 0.5em 0;
		font-size: 200%;
		text-transform: lowercase;
	}
}

#posts {
	ol {
		margin-left: 0;
	
		li {
			list-style-type: none;
			margin: 0.6em 0 0;
			position: relative;
			clear: both;
			
			time {
				float: left;
			}
			
			div.link {
				margin-left: 6.6em;
			}
		}
	}
}

article.post > header {
	div.published {
		margin-bottom: 1em;
	}
}

#site > footer {
	border-top: solid 2px #ddd;
	margin-top: 2em;
	padding: 10px 0;
	text-align: right;
}