/*
 * Cameron Spickert
 * May 2011
 */

@import 'reset';

a {
	text-decoration: none;
	color: #0033ff;
}

a:hover {
	color: #0000cc;
}

time {
	color: #777;
}

#site {
	width: 640px;
	margin: 20px auto;
	font-size: 1.1em;
}

#site > header {
	h1, nav, ul, li {
		margin: 0;
		display: inline;
	}
	
	h1 {
		font-size: 200%;
		text-transform: lowercase;
	}
}

#posts {
	ol {
		margin-left: 0;
	
		li {
			list-style-type: none;
			margin-top: 8px;
			position: relative;
			
			time {
				max-width: 5em;
			}
			
			a {
				position: absolute;
				left: 6.5em;
			}
		}
	
		li:first-child {
			margin-top: 0;
		}
	}
}

article.post > header {
	div.published {
		margin-bottom: 1em;
	}
}

#site > footer {
	border-top: solid 2px #ddd;
	margin-top: 2em;
	padding: 10px 0;
}