/*
 * Cameron Spickert
 * May 2011
 */

@import 'blueprint';

body {
	margin: 0;
	padding: 0;
	
	border-top: solid 2px #23c;
	
	font: normal 13px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	line-height: 18px;
	color: #222;
	
	a {
		text-decoration: none;
		color: #23c;
	}
	
	li {
		margin-top: 7px;
		margin-bottom: 7px;
	}
	
	h1 {
		font-size: 2.5em;
		line-height: 1.1em;
	}
}

#site {
	@include container;
}

#sidebar {
	position: fixed;
	@include column(5);
	@include prepend(1);
	
	footer {
		color: #888;
	}
}

#content {
	@include column(16, true);
	@include push(6);
	@include prepend(1);
	@include append(4);
	padding-top: 1.4em;
	border-left: dotted 1px #aaa;
}

article.post {
	margin-bottom: 3em;
	
	header {
		h2 {
			margin-bottom: 0.4em;
		}
		time {
			color: #666;
		}
	}
}
