<!doctype html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro" rel="stylesheet">
    <style type="text/css">
    body {
      padding: 0 2pc;
      font-family: "Source Serif Pro", serif;
      font-size: 140%;
      color: #2A2B2A;
      background-color: #F4F4F2;
    }
    h1, h2, h3 {
      font-family: "Source Sans Pro", sans-serif;
    }
    a,
    a:hover,
    a:visited {
      color: #4885ed;
      text-decoration: none;
    }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
