!!!5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "generator", :content => "nanoc 3.1.7"}
    - if item[:kind] == 'index'
      %link{:rel => "alternate", :type => "application/rss+xml", :title => "RSS", :href => "/feed.xml"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/media/css/style.css", :media => "screen"}
    %title= "Cameron Spickert - #{item[:title] or 'Home'}"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9107543-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #site
      #sidebar
        %header
          :markdown
            # [Cameron Spickert](/)
        %section{:id => "about"}
          :markdown
            **I'm a software engineer at [Aviary][] in New York City.**
            
            You can find me on [Facebook][], [Twitter][], [LinkedIn][] and [GitHub][].
          
            I built this site using [nanoc][], [haml][], [sass][] and [markdown][] ([source][]).
          
            [Aviary]: http://aviary.com
            [Facebook]: http://facebook.com/cspickert
            [Twitter]: https://twitter.com/#!/cameronspickert
            [LinkedIn]: http://www.linkedin.com/in/cameronspickert
            [GitHub]: https://github.com/cspicker
            [nanoc]: http://nanoc.stoneship.org
            [haml]: http://haml-lang.com
            [sass]: http://sass-lang.com
            [markdown]: http://daringfireball.net/projects/markdown/
            [source]: https://github.com/cspicker/cspicker.github.com/tree/source
        %footer
          :markdown
            © 2011 Cameron Spickert.
      %div{:id => "content"}
        = content
